.ui.grid
	.sixteen.wide.column
		h1.ui.header
			img.ui.rounded.image(src="assets/imgs/avatar/elliot.jpg")
			.content
				| {{currentUser.name}}
				.sub.header
					| {{currentUser.id}}
		h4.ui.horizontal.divider.header
			i.info.circle.icon
			| User Information
