.ui.basic.segment
	.ui.list.relaxed.inverted(style="width:100%;")
		.item
			h1.ui.center.aligned.green.icon.header
				i.student.icon
				.content Kasetsart University
					.sub.header Enrollment System
include menu.component.jade
include signin.component.jade