.ui.middle.aligned.center.aligned.grid
	.column
		h2.ui.center.aligned.icon.green.header
			i.student.icon
			|	Kasetsart
		form.ui.large.form
			.ui.stacked.segment
				.field
					ui.left.icon.input
						i.user.icon
						input(type="text", name="stdId", placeholder="Student ID")
				.field
					ui.left.icon.input
						i.lock.icon
						input(type="password", name="password", placeholder="Password")
				.ui.fluid.large.teal.submit.button
					| Login