.ui.masthead.vertical.segment
	search-bar([keywords]="keywords", (onChange)="onKeywordChange($event)")
.ui.basic.segment.courselist.sticky([ngClass]="{courseFixed: !getIsLonger()}")
	.ui.one.cards.stackable
		a.ui.card(*ngFor="let course of courses | search:keywords", (click)="goToCourse(course.id)")
			.content
				.header
					| {{course.name}}
				.meta {{course.id}}
	.ui.info.icon.message([ngClass]="{hidden: isEmpty}")
		i.inbox.icon
		.content
			.header
				| Cannot find your coures?
			| Try to search with course's name!!!