.masthead.segment {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    margin: 0 400px 0 300px;
    padding: 2em 2em 1em 2em;
    border-bottom: 1px solid #DDDDDD;
    box-shadow: none;
    background: #FFFFFF;
}
.courselist {
  padding-top: 12rem;
}
.courseFixed {
    position: fixed;
    margin: 0 400px 0 300px;
    z-index: 1;
    right: 0;
    left: 0;
}