.pusher > .full.height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.full.height > .toc {
  position: fixed;
  z-index: 9999;
  background-color: #011627;
  width: 300px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  min-height: 100%;	
}
.full.height > .toc .ui.menu {
  border-radius: 0;
  border-width: 0 1px 0 0;
  box-shadow: none;
  margin: 0;
  width: inherit;
  overflow: hidden;
  will-change: transform;
}
.article .enroll {
  z-index: 9999;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  min-height: 100%;
  right: 0;
  width: 25%;
  border-left: 1px solid rgba(34,36,38,.15);
  padding: 1rem 1rem 0 1.5rem;
      position: relative;
}
.article {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 0px;
  padding-left: 300px;
  display: flex;
  .content {
    width: 75%;
    min-height: 100%;
  }
}
i.readmore:hover {
  opacity: 1;
  color: #ffb70a !important;
}