.ui.padded.equal.height.grid
		.two.wide.black.column
			.sixteen.wide.column 
				h4.ui.horizontal.divider.header.inverted
					| console.log 
					i.code.icon 
				.ui.form.seqment
					.field
						textarea(disabled, rows="50")
							| > Welcome to Enrollment System for SKE student...
							| >
		.fourteen.wide.stretched.column
			.ui.equal.height.grid