.pusher
	.full.height
		.toc
			sidebar
		.article#content
			.content([ngClass]="{bg: router.isRouteActive(router.generate(['/Login']))}")
				router-outlet
			.enroll(*ngIf="!router.isRouteActive(router.generate(['/Login']))")
				enroll-sidebar