.ui.button.icon.red.drop Drop
.ui.flowing.popup.bottom.center.transition
	.ui.one.column.center.aligned.grid
		.column
			.ui.header Confirm to drop this course?
			p
			.ui.button.basic.red.fluid((click)="onClick()") 
				i.remove.icon
				| Confirm