.ui.button.icon.red((click)="onClick()") Drop
.ui.flowing.popup.bottom.center.transition
	.ui.one.column.center.aligned.grid
		.column
			.ui.header Confirm to drop this course?
			p
			.ui.button Confirm