.ui.vertical.segment.sticky
	h3.ui.header.orange
		| Enrolled
	p Academic Year 2016 First Semester
	p 
		b {{credit.credit}}
		|	/ 23 Credit
	.ui.one.cards.stackable.sections
		.ui.card.burring.section(*ngFor="let enroll of enrollList")
			.content
				i.link.right.floated.large.icon.ellipsis.vertical((click)="goToCourse(enroll.course.id)")
				.header {{enroll.course.id}}
				.meta
					span.category {{enroll.course.name}}
			.extra.content(*ngIf="enroll.sec.lab.id!=''")
				.right.floated.content
					drop-btn
				.header
					.ui.four.column.grid(style='display: block;')
						.column(style='padding-bottom: 0')
							| {{enroll.sec.lab.id}} 
						.column(style='padding-bottom: 0')
							| {{enroll.type}} 
						.column(style='padding-bottom: 0')
							| {{enroll.sec.lab.credit}}	
				.meta
					.ui.four.column.grid(style='display: block;')
						.column(style='padding-bottom: 0')
							| {{enroll.sec.lab.type}}
						.column(style='padding-bottom: 0')
							| Type
						.column(style='padding-bottom: 0')
							| Credit 
			.extra.content(*ngIf="enroll.sec.lecture.id!=''")
				.right.floated.content
					.ui.button.icon.red Drop
				.header
					.ui.four.column.grid(style='display: block;')
						.column(style='padding-bottom: 0')
							| {{enroll.sec.lecture.id}} 
						.column(style='padding-bottom: 0')
							| {{enroll.type}} 
						.column(style='padding-bottom: 0')
							| {{enroll.sec.lecture.credit}}	
				.meta
					.ui.four.column.grid(style='display: block;')
						.column(style='padding-bottom: 0')
							| {{enroll.sec.lecture.type}}
						.column(style='padding-bottom: 0')
							| Type
						.column(style='padding-bottom: 0')
							| Credit 
