.ui.vertical.segment
	h1.ui.header.orange
		| Enrolled
		.sub.header Manage your courses.
	.ui.one.cards.stackable.sections
		.ui.pink.card.burring.section
			.content
				.header 01234456
				.meta
					span.right.floated.time
						i.marker.icon
						| XXXX
					span.category XXXX
				.description 
					i.calendar.icon
					| XXXX
			.extra.content
				.right.floated.author
					img.ui.avatar.image(src="assets/imgs/avatar/1.jpg")
					| xxxxx
				span
					i.user.icon
					| 1 / 1
	.ui.one.cards.stackable.sections
		.ui.pink.card.burring.section
			.content
				.header 01234456
				.meta
					span.right.floated.time
						i.marker.icon
						| XXXX
					span.category XXXX
				.description 
					i.calendar.icon
					| XXXX
			.extra.content
				.right.floated.author
					img.ui.avatar.image(src="assets/imgs/avatar/1.jpg")
					| xxxxx
				span
					i.user.icon
					| 1 / 1
	.ui.one.cards.stackable.sections
		.ui.pink.card.burring.section
			.content
				.header 01234456
				.meta
					span.right.floated.time
						i.marker.icon
						| XXXX
					span.category XXXX
				.description 
					i.calendar.icon
					| XXXX
			.extra.content
				.right.floated.author
					img.ui.avatar.image(src="assets/imgs/avatar/1.jpg")
					| xxxxx
				span
					i.user.icon
					| 1 / 1
