.masthead.segment {
    position: relative;
    z-index: 1;
    margin: 0em;
    padding: 3em 0em;
    border-bottom: 1px solid #DDDDDD;
    box-shadow: none;
}
.author {
	padding-left: 2rem;
}
.context {
  position: fixed;
  margin-right: 400px;
  right: 0;
	left: 0;
	margin-left: 300px;
}