.ui.basic.segment(*ngIf="course")
	.ui.masthead.vertical.segment
		.ui.basic.segment
			h1.ui.header {{course.name}}
				.sub.header {{course.id}}
	.ui.basic.segment
		.ui.grid
			.row.one.column 
				.column
					h2.ui.header Course Information
			.row.three.column
				.column 
					h3.ui.header {{course.id}}
						.sub.header Course Code
				.column 
					h3.ui.header {{course.credit.total}}
						.sub.header Credit
				.column 
					h4.ui.header Prerequisite
					.ui.vertical.basic.buttons(*ngIf="course.prereq.length != 0")
						.ui.button(*ngFor=("let pre of course.prereq"))
							i.external.icon 
							| {{pre.id}}
			.row.one.column
				.column 
					h2.ui.header Course Description
			.row.one.column
				.column {{course.description}}
			.row.one.column
				.column 
					h2.ui.header Sections
			.row.one.column
				.column
					.ui.two.cards.stackable.sections(*ngIf=("course.sections"))
						.ui.card.burring.section(*ngFor=("let sec of course.sections"))
							.content
								.header {{sec.id}}
								.meta
									span.right.floated.time {{sec.location}}
									span.category {{sec.type}}
								.description {{sec.date}}
							.extra.content
								.right.floated.author(*ngFor=("let instructor of sec.instructors; let idx = index"))
									img.ui.avatar.image(src="assets/imgs/avatar/{{idx}}.jpg")
									| {{instructor}}
								span
									i.user.icon
									| {{sec.enrolled}} / {{sec.accept}}
							.ui.buttom.attached.button
								i.add.icon
								| Enroll
					.ui.negative.massive.message(*ngIf=("!course.sections"))
						| Course not offered this semester.